* {
  box-sizing: border-box;
}


:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  min-height: 100dvh;
  margin: 0;
}